*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

#carousel-exemplo img{
    height: 100%;
    width: 100%;
}

#carousel-exemplo{
    padding: 2%;
    margin-bottom: -2%;
}

.row{
    margin-top: 65%;
    padding: 5%;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    #carousel-exemplo img{
        height: 100%;
        width: 100%;
    }
    
    #carousel-exemplo{
        padding: 2%;
        margin-bottom: 60%;
    }
    
    .row{
        margin-top: 95%;
        padding: 5px;
        margin-left: -8%;
        margin-right: -10%;
    }

    .card-body h5{
        font-size: 2em
    }

    .card-body p{
        font-size: 1.4em;
    }

    .col{
        margin: 8%;
    }
}

@media screen and (min-width: 0px) and (max-width: 480px){
    #carousel-exemplo img{
        height: 100%;
        width: 100%;
    }
    
    #carousel-exemplo{
        padding: 2%;
        margin-bottom: 65%;
    }
    
    .row{
        margin-top: 140%;
        padding: 5px;
        margin-left: -8%;
        margin-right: 7%;
    }

    .card-body h5{
        font-size: 2em
    }

    .card-body p{
        font-size: 1.4em;
    }

    .col{
        margin: 8%;
    }
}